html {
	position: relative;
	font-family: Verdana, "Lucida Grande", san-serif; 
	min-height: 100%;
}

body {
	margin: 0 0 80px;
}

header {
	height: 100px;
	padding-top: 5px;
}

img {
	position: relative;
	float: left;
}

h1 {
	position: absolute;
	margin-left: 150px;
}

header, main {
	margin: 0 auto 20px;
	width: 75%;
	}

.xkcd {
	color: #06509f;
	background: #ccc;
	font-size: 28px;
	text-align: center;
	padding: 5px 0 10px;
	border-radius: 10px;
}

.hide {
	display: none;
}

.errors {
	color: #fff;
	background: red;
	margin-top: 5px;
	padding: 5px 0 10px 10px;
	border-radius: 10px;
}

fieldset {
	margin: 20px 0;
}

input[type=number]{
    width: 30px;
} 

.indent {
	margin-left: 24px;
}

#submit {
    background-color: #ccc;
    border-radius:6px;
    color: #06509f;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#submit:hover {
    border: none;
    background:#06509f;
    color: #ccc;
    box-shadow: 0px 0px 1px #777;
}

footer {
	position: absolute;
	height: 60px;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: #fff;
	background: #06509f;
}